.livechat-container {
    position: fixed; 
    bottom: 0;
    right: 0;
    margin-right: 25px;
    background-color: rgb(192, 192, 192);
}
.livechat-bar {
    padding: 10px;
    width: 500px;
    background-color: rgb(87, 87, 87);
    color: white;
}
.livechat-bar button {
    background-color: white;
    margin-right: 10px;
}
.livechat-bar button span{
    color: rgb(40, 40, 40);
}
.livechat-bar span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.chatbox-container {
    width: 500px;
    height: 500px;
    transition: width 500ms ease-out, height 500ms ease-out;
}
.chatbox-container.minimized {
    height: 0;
}

