.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
}

.navbar-links {
    list-style-type: none;
    display: flex;
    padding: 20px;
}
.navbar-links li {
    padding: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 255);
}
.navbar-links li:hover {
    scale: 105%;
    color: rgb(193, 193, 193);
}

.navbar-SignIn-SignOut {
    display: flex;
    padding: 20px 50px 20px 20px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 255);
}
.navbar-SignIn-SignOut:hover {
    scale: 105%;
    color: rgb(193, 193, 193);
}